html,
body{
    font-family: "Open Sans", sans-serif;
    font-size: 16pt;
    margin: 0;
}
nav{
    background-color: black;
    color: white;
    display:flex;
    justify-content: space-evenly;
    padding: 0.25em;
    width: 100%;
    font-size: larger;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;

}
a{
    color: white;
    text-decoration: none;
    padding: 0.25em;
}
a:hover{
    color: violet;
}
#home{
    
    background-image: url("../images/background.jpg");
    left:0;

}
article{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 4rem;
}
article:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.1;
    z-index: -1;
}
.logo{
    width: 9ch;
}
.title,
.logo{
    font-family: "Indie Flower";
    font-size: 3em;
}
.tagline{
    font-style: italic;
    font-size: 1.5em;
}

/* Applications Page */

#apps:before{
    background-image: url("../images/apps.jpg");
}
#apps h1 {
	grid-area: header; /* header area */
}
#apps > .content {
	grid-area: main; /* main area */
}
#apps > div:nth-of-type(1) {
	grid-area: sidebar-left; /* sidebar-left area */
	padding-right: 1.5em;
	text-align: right;
}
#apps > div:nth-of-type(3) {
	grid-area: sidebar-right; /* sidebar-right area */
	padding-left: 1.5em;
	text-align: left;
}
#apps > .sidebar > img {
	height: 20vh;
	margin-bottom: 0.5em;
}
#apps{
    display: grid;
	grid-template-areas: 
		'header header header header header header'
		'sidebar-left main main main main sidebar-right'
		'sidebar-left main main main main sidebar-right'
		'sidebar-left main main main main sidebar-right'
		'sidebar-left main main main main sidebar-right'
		'sidebar-left main main main main sidebar-right';
}